<div class="d-flex flex-column align-items-center justify-content-center mt-5">
  <div class="login">
    <h3>{{ 'Регістрація' | translate }}</h3>
      <div>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <label for="login">{{ 'Логін' | translate }}:</label>
          <input id="login" type="text" class="form-control" required formControlName="name">
          <label for="email">{{ 'Електронна пошта' | translate }}:</label>
          <input id="email" type="text" class="form-control" required email formControlName="email">
          <label for="password">{{ 'Пароль' | translate }}:</label>
          <input id="password" type="password" class="form-control" required formControlName="password">
          <select class="form-control mb-3" formControlName="role">
            <option *ngFor="let role of roles" [ngValue]="role.id">{{ role.name }}</option>
          </select>
          <div class="button">
            <button type="button" class="btn btn-primary" type="submit" [disabled]="!registerForm.valid">
              {{ 'Зареєструватися' | translate }}
            </button>
          </div>
        </form>
      </div>
  </div>
</div>