<div class="d-flex justify-content-center mt-5">
  <div class="col-3">
    <div class="image-preview mb-3" *ngIf="!picturePreviewUrl">
      <img src="assets/img/placeholder.png" height="240" />
    </div>
    <div class="image-preview mb-3" *ngIf="picturePreviewUrl">
      <img [src]="picturePreviewUrl" height="240" width="240" />
    </div>
    <div class="form-group">
      <label for="fileUpload" class="mb-0 btn btn-secondary file-label">
        <ng-container>{{ 'Завантажити фото' | translate }}</ng-container>
        <input id="fileUpload" type="file" class="btn" name="image" (change)="fileProgress($event)" />
      </label>
      <button class="btn btn-outline-danger ml-2" *ngIf="picture" (click)="deletePicture()"
        title="{{ 'Видалити фото' | translate }}">X</button>
    </div>
  </div>
  <div class="col-4">
    <form [formGroup]="petForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="petName">{{ 'Кличка домашньої тварини' | translate }}</label>
        <input type="text" class="form-control" id="petName" required formControlName="name">
        <div class="danger" *ngIf="formSubmitted && petForm.controls.name.errors?.required">
          {{ 'Кличка домашньої тварини обовязкова' | translate }}
        </div>
      </div>
      <div class="form-group">
        <label for="petKing">{{ 'Вид домашньої тварини' | translate }}</label>
        <input type="text" class="form-control" id="petKing" required formControlName="kind">
        <div class="danger" *ngIf="formSubmitted && petForm.controls.kind.errors?.required">
          {{ 'Вид домашньої тварини обовязковий' | translate }}
        </div>
      </div>
      <div class="form-group">
        <label for="petDate">{{ 'Дата народження' | translate }}</label>
        <input type="date" class="form-control" id="petDate" required formControlName="dateOfBirth">
        <div class="danger" *ngIf="formSubmitted && petForm.controls.dateOfBirth.errors?.required">
          {{ 'Дата народження обовязкова' | translate }}
        </div>
      </div>
      <button type="submit" class="btn btn-primary">{{ 'Зберегти' | translate }}</button>
    </form>
  </div>
</div>